@font-face {
    font-family: 'Uni Sans';
    src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff2') format('woff2'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff') format('woff'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansHeavyCAPS.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Uni Sans';
    src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff2') format('woff2'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff') format('woff'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansThinCAPS.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  a {
    text-decoration: none;
  }

  .wrapper {
    position: relative;
    width: 1150px;
    height: 700px;
    padding: 35px 35px;
    min-height: 750px;
    background: url("../../../public/images/citydark.jpg") center no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
  }

  .content {

    height: 675px;
    margin: auto;
    width: 100%;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
  }

  .business-id {
    display: flex;
  }

  .business_img {
    position: relative;
    height: 100%;
    max-height: 650px;
    width: 100%;
    display: flex;
    border-radius: 25px;
    box-shadow: 4px 4px 3px rgb(0, 0, 0);
    opacity: .9;
    object-fit: contain;
  }

  .review_wrapper {
    position: absolute;
    top: calc(40%);
    display: flex;
    align-self: center;
    height: 400px;
    width: 900px;
  }

  img {
    object-fit: contain;
    object-position: center right;
  }
