@font-face {
    font-family: 'Uni Sans';
    src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff2') format('woff2'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff') format('woff'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansHeavyCAPS.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff2') format('woff2'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff') format('woff'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansThinCAPS.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

a {
    text-decoration: none;
}

/* label {
    padding: 10px;
}

input {
    width: 10%;
} */

@media (max-width: 1000px) {
    #modal-content {
        width: 250px;
    }
    #post_review_div {
        position: relative;
        left: 15px;
    }
    #navbar {
        width: calc(50%);
    }
    /* #backgroundFloat {
        width: calc(500px);
        height: calc(200px);
    } */
    .profile-dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 200px;
        top: 69px;
    }
    .create-dropdown {
        position: absolute;
        width: 200px;
        height: 450px;
    }

    .create-dropdown > form {
        max-width: 200px;
        position: absolute;
    }

    #cancel_create_business {
        min-width: 80px;
    }

    .mainSearch {
        max-width: 300px;
        margin-top: 10px;
    }
    .searchresult-list {
        position: relative;
        left: 1px;
        top: 52px;
        max-width: 300px;
    }
    #update_delete_business_dropdown {
        max-width: 300px;
    }
  }

a:visited {
    color: #fff;
    text-decoration: none;
}

#imageUrl {
    height: 500px;
    width: 600px;
}

.business-detail {
    display: flex;
    flex-direction: column;
}

.profileWrapper {
    display: flex;
    justify-content: center;
    background-color: black;
}

#backgroundFloat {
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: visible;
    height: 600px;
}

#navbar {
    display: flex;
    justify-content: center;
}

#profileButton {
    /* margin-left: 300px; */
    font-family: 'Dosis', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.toolbar {
    font-family: 'Dosis', sans-serif;
    width: 33%;
    margin: 16px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    /* align-self: center; */
    display: flex;
    justify-content: space-between;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.homeCreate {
    padding: 20px;
}

.homeLink {
    display: flex;
    flex-direction: row;
}

.homeCreate:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
}

.createLink {
    padding: 20px;
    cursor: pointer;
}

.createLink:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
}

.reviewLink {
    padding: 20px;
}

#searchSplashArea {
    display: flex;
    justify-content: center;
    height: 400px;
    flex-direction: column;
}

.yelpImage {
    display: flex;
    justify-content: center;
}

#searchBar {
    display: flex;
    justify-content: center;
}

.mainSearch {
    width: 570px;
    font-family: 'Dosis', sans-serif;
}

.mainSearch::placeholder {
    font-size: 15px;
    color: black;
}

#search-container {
    position: absolute;
}

.searchresult-list {
    background: linear-gradient(180deg, #ffffff 11.6%, #e7e7e7 54.73%, #cfcfcf 100%);
    position: relative;
    right: 60px;
    bottom: -46px;
}

.business-li {
    list-style: none;
    padding: 20px 15px 20px 15px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 51px;
    min-width: 443px;
}

.business-li:hover {
    color: black;
    cursor: pointer;
}

.business-link {
    text-decoration: none;
    color: white;
}

#searched_business_name {
    font-family: 'Uni Sans', sans-serif;
    font-weight: 900;
    color: rgba(29, 29, 29, 0.873);
    font-size: 14px;
}

#searched_business_name:hover {
    font-family: 'Uni Sans', sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

#searched_business_location {
    font-family: 'Dosis', sans-serif;
    color: rgb(0, 0, 0);
}

.businessCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 550px;
    max-width: 40em;
    height: 525px;
    background: #fff;
    margin: 1.5em 1.5em;
    padding: 1em;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    overflow-y: hidden;
}

#update_delete_business_dropdown {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 450px;
    z-index: 1;
    padding-bottom: 10px;
}

#businessImage {
    width: 100%;
    height: fit-content;
    max-height: 375px;
}

#businessTitle {
    font-family: 'Uni Sans', sans-serif;
    font-weight: 900;
    color: black;
}

#businessDescription {
    font-family: 'Dosis', sans-serif;
    padding: 5px;
    max-height: 125px;
    overflow: hidden;
}

#businessLocation {
    font-family: 'Dosis', sans-serif;
    padding: 5px;
    font-weight: 600;
}

.createLink {
    display: flex;
    justify-content: center;
}


.create-dropdown {
    position: absolute;
    display: inline-grid;
    border-radius: 10px;
    font-size: 18px;
    min-width: 27%;
    letter-spacing: .05em;
    font-weight: 700;
	line-height: 1.2;
    background: linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    padding: 10px 15px 15px 15px;
    margin: 1px;
    font-family: 'Dosis', sans-serif;
    text-shadow: -1px 2px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    top: calc(8%);
    left: calc(36%);
    box-shadow: 0 19px 38px rgba(0,0,0,0.69), 0 15px 12px rgba(0,0,0,0.69);
}

figure {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

#businessTitle{
    cursor:pointer;
}

.cardHover figure {
	position: relative;
    cursor:pointer;
}

.cardHover figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.cardHover figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

label,input{
    display:flex;
    flex-direction:column;
  }

button {
    font-family: 'Uni Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
	display: inline-block;
    letter-spacing: .01em;
    font-weight: 900;
	margin:5px;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 37, 37);
    /* border: solid rgb(7, 12, 100) 2px; */
    padding: 5px 6px 5px 7px;
	border-radius: 5px;
    box-shadow: 0 .2em .2em rgb(53, 3, 135);
    cursor: pointer;
}

#delete {
    box-shadow: 0 .2em .2em rgb(232, 0, 0);
}

#create {
    box-shadow: 0 .2em .2em rgb(0, 0, 232);
}

#review_button {
    background-color: rgba(82, 66, 3, 0.815);
    box-shadow: 0 .2em .2em rgba(185, 180, 170, 0.655), 0 0 10px rgb(255, 255, 190), 0 0 40px rgb(95, 95, 5);
}

#cancel {
    box-shadow: 0 .4em .4em rgb(8, 8, 8);
}

#cancel_create_business {
    box-shadow: 0 .2em .2em rgba(255, 255, 255, 0.655);
    width: 22%;
}

#reviewForm{
    width: 100%;
}

#edit_form_review {
    font-family: 'Uni Sans', sans-serif;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    height: 60%;
    width: 650px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: -5px -5px 30px 5px rgba(74, 66, 66, 0.543), 5px 5px 30px 5px rgba(49, 49, 52, 0.577);    background-color: rgba(0, 0, 0, 0.923);
    color: white;
}

#edit_form_review label {
    font-family: 'Dosis', sans-serif;
}

#delete_business_form {
    font-family: 'Uni Sans', sans-serif;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    overflow: hidden;
    height: 60%;
    width: 350px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: -5px -5px 30px 5px rgba(74, 66, 66, 0.543), 5px 5px 30px 5px rgba(49, 49, 52, 0.577);    background-color: rgba(0, 0, 0, 0.999);
    color: white;
}

#cancel.cancelDelete {
    width: 110px;
}

#review_rating {
    font-size: 16px;
    font-style: oblique;
}

#post_review_div {
    position: absolute;
    right: -99%;
    top: 205px;
}

#delete_review_form {
    font-family: 'Uni Sans', sans-serif;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    height: 60%;
    width: 350px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: -5px -5px 30px 5px rgba(74, 66, 66, 0.543), 5px 5px 30px 5px rgba(49, 49, 52, 0.577);    background-color: rgba(0, 0, 0, 0.999);
    color: white;
}

#cancel.cancel_review_button {
    width: 110px;
    margin: 6px;
    box-shadow: 0 .2em .2em rgba(185, 180, 170, 0.655), 0 0 1px rgb(255, 255, 190), 0 0 1px rgb(95, 95, 5);
}

#delete_business_title {
    display: inline;
    text-decoration: underline;
}

input {
    width: auto;
    color: black;
    padding: 10px 20px;
    margin: 4px 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
}

label {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    padding: 5px;
}

::-webkit-file-upload-button {
    font-family: 'Uni Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
	display: inline-block;
    letter-spacing: .01em;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 37, 37);
    /* border: solid rgb(7, 12, 100) 2px; */
    padding: 5px 6px 5px 7px;
	border-radius: 5px;
    cursor: pointer;
}

#choose_file_input {
    text-align: center;
	display: inline-block;
    letter-spacing: .01em;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white !important;
}

#update_business_input {
    text-align: center;
	display: inline-block;
    letter-spacing: .01em;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
