body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
width: auto;
color: black;
padding: 14px 20px;
margin: 8px 0;
border-radius: 4px;
cursor: pointer;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button {
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    border: solid rgb(92, 92, 92) 2px;
    padding: 10px 10px 10px 10px;
	border-radius: 7px;
    box-shadow: 0 .2em rgb(105, 120, 138);
    cursor: pointer;
}
