@font-face {
    font-family: 'Uni Sans';
    src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff2') format('woff2'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff') format('woff'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansHeavyCAPS.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff2') format('woff2'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff') format('woff'),
    url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansThinCAPS.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');


input {
width: auto;
color: black;
padding: 14px 20px;
margin: 8px 0;
border-radius: 4px;
cursor: pointer;
}

#login {
    font-family: 'Uni Sans';
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button {
    font-family: 'Uni Sans';
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    border: solid rgb(0, 0, 0) 2px;
    padding: 5px 10px 10px 10px;
	border-radius: 7px;
    box-shadow: 0 .2em rgb(0, 0, 0);
    cursor: pointer;
}
